#grid_log_name {
  text-align:center;
  border-bottom:2px solid blue;
}
.chelsea_logo {
  verticle-align:middle;
  width:80px;
}
h1 {
  display:inline;
  margin:none;
  font-size:100px;
  color : blue;
}
.category {
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align:center;
  border-bottom :2px solid blue;
}
